{% extends 'base.html' %}
{% load gacoitags %}
{% block content %}
<div class="row">
    <div class="with-nav-tabs panel-default">
    <div class="tab-heading">
		<ul class="nav nav-tabs">
			<li class="{{tab1}}">
				<a data-toggle="tab" href="#maintab">
					 Teachers
				</a>
			</li>
            {% if period_form %}
			<li class="{{tab2}}">
				<a data-toggle="tab" href="#detailtab">
                    {% if fiscal_term %} {{ fiscal_term.user_name }} {% endif %}
				</a>
			</li>
            {% endif %}
		</ul>
	</div>
    <div class="tab-content">
        <div class="tab-pane fade {{tab1}} in" id="maintab">
            {% autoescape off %}
            {{ term_form.render_form_begin }}
            {% csrf_token %}
            {{ term_form.render_content }}
            {{ term_form.render_form_end }}
            {{ term_form.render_script }}
            {% endautoescape %}
        </div>
        <div class="tab-pane fade {{tab2}} in" id="detailtab">
            {% if fiscal_term %}
                {% autoescape off %}
                {{ period_form.render_form_begin }}
                {% csrf_token %}
                {{ period_form.render_content }}
                {{ period_form.render_form_end }}
                {{ period_form.render_script }}
                {% endautoescape %}
            {% endif %}
        </div>
    </div>
    </div>
</div>
<script>



    function gacoiform_search(formname) {
        document.forms[formname][formname + "_action"].value = 6;
    }
</script>

{% endblock content %}