{% extends "basenomenu.html" %}
{% load gacoitags %}
{% block content %}
    <div style="margin-left:10px;margin-right:10px;">
        {% if target_user %}
        <span><span style="font-weight:bold;color:blue;">{{ target_user.user_name }}</span>, change password!!</span>
        <br><br>
        {% endif %}
        {% autoescape off %}
        {{ password_form.render_form_begin }}
        {% csrf_token %}
        {{ password_form.render_content }}
        {{ password_form.render_form_end }}
        {{ password_form.render_script }}
        {% endautoescape %}
    </div>
    <script>
        function do_change_password(){
            password_form =  document.forms["password_form"]
            password_form["password_change"].value = "true";
        }

        function do_close_form(){
            window.parent.bootbox.hideAll();
            return false;
        }
        {% if changed %}
        do_close_form();
        {% endif %}
    </script>
{% endblock content %}
